@import '../../styles/mixins';

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-dark);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  @include flex(column, center, center);
  text-transform: none;
}

.dropdownLink {
  &:hover {
    transition: var(--transition);
    background-color: var(--color-grey-dark);
  }

  .dropdownLogo {
    width: 100px;
  }

  .link {
    color: var(--color-light);
    text-align: justify;
    @include flex(row, center, center);
    gap: 20px;
    padding: 30px;
  }

  // strong {
  //   border-bottom: 2px solid var(--color-primary);
  //   padding: 10px 0;
  // }
}

.description {
  font-size: 0.875rem;
  margin: 10px 0;
  color: var(--color-light);
}
