@import '../../styles/mixins';

.section {
  @include flex(row, center, space-between);
  padding: 90px 0;

  .documnts {
    @include flex(row, flex-start, space-between);
    flex-wrap: wrap;
    gap: 30px;
    flex-grow: 1;
  }
}
