@import '../../../styles//mixins';

.buttonRed {
  @include btn;
  background-color: transparent;
  color: var(--color-primary);
  font-weight: bold;
  padding-right: 0;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding-right: 30px;
  }

  @include lg-max {
    width: 100%;
  }

  @include md-max {
    padding: 9px 9px;
  }
}
