@import '../../styles/mixins';

.main {
  height: 100vh;
  @include flex(column, center, center);
  background-color: var(--color-light);
  transition: var(--transition);
  transition-delay: --var(--deley);

  .img {
    width: 300px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 18px;
    color: #333333;
    margin-bottom: 30px;
  }
}

.slide {
  text-align: center;

  div {
    margin: auto;
  }
}
