@import '../../styles/mixins';

.swiperSplash {
  padding-top: 140px;
  min-height: 70vh;
  background: var(--background-radial);

  @include md-max {
    padding-top: 108px;
    min-height: 100vh;
  }
}

.slide {
  color: var(--color-light);
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);

  .sectionHeader {
    font-size: 2.9rem;
    padding: 15px 0 8px 0;
    margin: 0px auto 10px auto;
    max-width: 850px;
    width: 98%;

    @include md-max {
      font-size: 2rem;
      margin-bottom: 0.4rem;
    }

    @include sm-max {
      font-size: 2rem;
    }
  }

  .ornament {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    background-color: var(--color-primary);
    width: 90%;
    margin: 0 auto;
    height: 3px;

    @include md-max {
      width: 98%;
    }
  }

  .paragraph {
    font-size: 1rem;
    border-radius: 8px 8px;
    padding: 0 0 15px 0;
    max-width: 900px;
    width: 98%;
    margin: 8px auto 60px auto;
  }

  .buttons {
    margin: 30px auto 50px auto;
    @include flex(row, center, center);
    gap: 20px;
    width: 98%;
    text-align: center;

    @include md-max {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 100px;
    }
  }
}
