@import '../../styles/mixins';

.logo {
  margin: 0;
  line-height: 0;
  height: 100px;
  z-index: 2000;

  @include sm-max {
    height: 68px;
    min-width: 100px;
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;

    @include lg-max {
      object-fit: cover;
    }
  }
}
