@import '../../../styles/mixins';

.chatButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;

  .chat {
    @include flex(row, center, center);
    gap: 10px;
    background-color: var(--color-primary);
    color: var(--color-light);
    transition: var(--transition);
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-secondary);
    }

    svg {
      font-size: 20px;
    }
  }
}
