@import '../../styles/main.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  padding: 20px 0;
  @include flex(row, center, center);
  z-index: 999;
  background-color: transparent;

  &.scrolled {
    background-color: var(--color-dark);
  }

  .container {
    @include flex(row, flex-end, space-between);
    overflow: visible;

    .logoLeft {
      display: block;
    }

    @include sm-max {
      gap: 0;
    }

    @include sm-max {
      .logoLeft {
        display: block;
      }

      .logoCenter {
        display: none;
      }
    }

    .navigation {
      width: calc(100% - 100px);
      @include flex(row, center, flex-end);
      // gap: 20px;

      .sideNavigation {
        display: none;
      }

      @include lg-max {
        width: 100%;

        .navigationPanel {
          display: none;
        }

        .sideNavigation {
          display: block;
          color: var(--color-light);
        }
      }

      @include sm-max {
        flex-direction: row;
        gap: 0;
      }
    }
  }
}
