@import '../../styles/main.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  background-color: var(--color-dark);
  z-index: 1000;

  .container {
    @include flex(row, center, space-between);
    gap: 20px;
    overflow: visible;

    .navigation {
      @include flex(row, stretch, flex-end);
      gap: 20px;
    }
  }
}
