@import '../../styles/mixins';

.dropdown {
  position: relative;
  padding: 16px 25px;

  &:first-child {
    border-right: 1px solid var(--color-light);

    @include sm-max {
      padding: 16px 15px 16px 0;
    }
  }

  @include sm-max {
    padding: 16px 16px 16px 15px;
  }
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-dark);
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}
