@import '../../../styles/mixins';

.navigationList {
  width: 100%;
  @include flex(row, center, flex-end);
  position: relative;
  font-family: var(--text);

  .link,
  .dropLink {
    transition: var(--transition);
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    color: var(--color-light);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-light);
    }
  }

  .dropLink {
    padding: 16px 25px;
  }

  .link {
    padding: 0;
  }
}
