@import '../../styles/mixins';

.cookieBanner {
  position: fixed;
  width: 100%;
  height: calc(100% - 140px);
  z-index: 1000;
  bottom: 0;
  left: 0;

  @include sm-max {
    overflow-y: scroll;
    height: calc(100% - 108px);
  }

  .info {
    z-index: 998;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 35%;
    background-color: var(--color-light);
    padding: 40px 30px;
    text-align: justify;
    box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.2);

    @include sm-max {
      padding: 20px 10px;
    }

    .wrap {
      @include flex(column, flex-start, flex-start);
      gap: 20px;

      .underlineText {
        border-bottom: 2px solid var(--color-primary);
        padding: 0 0 10px 0;
        width: 100%;
      }
    }
  }

  .buttonsWrap {
    @include flex(column, flex-start, flex-end);
    flex-wrap: wrap;

    .goToCookiePolicy {
      color: var(--color-dark);
      padding: 10px 0;
      span {
        color: var(--color-primary);
      }
    }
  }
}
