@import '../../styles//mixins';

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;

  .topFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .nav {
      display: flex;
      gap: 20px;

      .link {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .address {
      @include flex(column, center, center);
      gap: 10px;
    }
  }

  .certifications {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;

    img {
      height: 40px;
    }
  }

  .bottomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;

    p {
      margin: 0;
    }

    .legalLink {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
