@import '../../styles//mixins';

.footer {
  background-color: var(--color-black);
  color: var(--color-light);
  padding: 20px 0;
  text-align: center;

  .topFooter {
    @include flex(row, flex-start, space-between);
    gap: 30px;

    @include md-max {
      flex-direction: column-reverse;
      align-items: center;
      padding-bottom: 40px;
      flex-wrap: wrap;
    }

    .address {
      @include flex(column, center, center);
      gap: 10px;
    }
  }

  .bottomFooter {
    @include flex(row, center, space-between);
    padding: 10px 0px;
    margin: 50px 0 0 0;

    font-size: 14px;
    flex-wrap: wrap;

    @include md-max {
      justify-content: center;
      gap: 15px;
    }

    .legalLink {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
